@import '@fontsource/inter';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}

#app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
